= provide(:title, "about")

.page_content.page_top.bg-gary.contact_page
  %section.section1.width-100
    .section2
      .title01
        %h3
          %span
            このサイトについて

      .container.sction4