


.page_content.page_top.bg-gary
  .mv_area
    .mv-text_box
      .mv-text
        %h2
          介護情報管理サービス
          %br
          %span.mv-title
            Kaikai

  %section.section1.width-100
    .section2
      .title01
        %h3
          %span
            このようなことでお困りではありませんか？
      .container.sction3
        .row
          .col-sm.layout_box.u-tac
            .image-field
              =image_tag("pages/top/image01.png")
            %p.content-title
              紙媒体による莫大な利用者
              %br
              の趣味趣向の情報

          .col-sm.layout_box.u-tac
            .image-field
              =image_tag("pages/top/image02.png", style:"margin: 15px 0 11px;")
            %p.content-title
              利用者の利用予定の管理

          .col-sm.layout_box.u-tac
            .image-field
              =image_tag("pages/top/image03.png", style: "margin: 42px 0;")
            %p.content-title
              施設イベントの管理

  %section.section1.width-100.bg-main
    .section2
      .title01
        %h3
          %span
            KAIKAIでなら解決できます！
      .container.sction3
        .row
          .col-sm.layout_box.u-tac
            .image-field
              =image_tag("pages/top/image04.png")
            %p.content-title
              利用者の趣味趣向まで施設単位で
              %br
              保存・共有が可能！


          .col-sm.layout_box.u-tac
            .image-field
              =image_tag("pages/top/image05.png", style:"margin: 30px 0 16px;")
            %p.content-title
              利用者の急な利用予定
              %br
              未利用予定にも対応可能

          .col-sm.layout_box.u-tac
            .image-field
              =image_tag("pages/top/image06.png", style: "margin: 48px 0;")
            %p.content-title
              イベントの詳細・参加予定まで
              %br
              細かく施設内で共有可能

  %section.section1.width-100
    .section2
      .title01
        %h3
          %span
            KaiKaiの主な機能



      .container.section3
        .row
          .col-4{style:"padding-right: 0;"}
            .image-field
              =image_tag("pages/top/image06.png", style: "margin: 42px 0;")
          .col-8
            .content_area
              .title02
                %h4
                  %span
                    タイトル
              %p.content-text.content_area
                利用者の急な利用予定
        .row
          .col-8
            .content_area
              .title02
                %h4
                  %span
                    タイトル
              %p.content-text.content_area
                利用者の急な利用予定
          .col-4{style:"padding-left: 0;"}
            .image-field
              =image_tag("pages/top/image05.png", style:"margin: 15px 0 11px;")





