.calender_area{
  margin: 50px auto;
}

#calendar{

}

.user_counts{
  position: relative;
  z-index: -10;
}

.fc-center{
  h2{
    font-size: 24px;
  }
}


// .fc-center{
//   h2{
//     font-size: 18px;
//     font-weight: bold;
//     text-align: center;
//     line-height: 37px;
//   }
// }

// .fc-button{
//   background: white !important;
//   border: none !important;
//   box-shadow: none !important;
// }

// .fc-icon{
//   height: 100% !important;
// }

// .fc-icon:after{
//   color: #4abfe6;
//   margin-top: 10px;

// }

// .fc-today{
//   background-color: red !important
// }

// .fc-icon-left-single-arrow:after{
//   font-size: 45px !important;
//   top: 10px !important;

// }

// .fc-icon-right-single-arrow:after{
//   font-size: 45px !important;
//   top: 10px !important;
// }
// .fc-highlight{
//   background-color: red !important;
// }


// .fc-day{
//   background-color:#f3f3f3;
// }

// .fc-day-number{
//   float: left !important;
//   font-size: 2vh !important;
//   font-weight: 300;
// }

.user_counts{
  background-color:transparent !important;
  border: none !important;
}