- if object.errors.any?
  .error_explanation
    %h3.error-info
      %span
        フォームにエラーがあります。

    %ul.error_lists
      - object.errors.full_messages.each do |msg|
        %li.error_list
          %span
            = msg

