
= provide(:title, '利用者')
%section.dash_board_main.user_index
  .d_title01
    %h2
      %span
        利用者管理
  .dash_board_innner
    %p.add_content_text
      %span
        = link_to "新規利用者を登録+", new_account_user_path(current_account)
    = render partial: 'shared/user_search_box'




    %article
      .d_title02
        %h3
          %span
            利用者一覧
      .form-items#js-user_lists
        = render partial: 'shared/user_cards', locals: { users: @users }
